<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      App Entrenos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/rutinas">
      <ion-avatar slot="start">
        <ion-img src="https://cdn-icons-png.flaticon.com/512/3412/3412862.png"></ion-img>
      </ion-avatar>
      <ion-label>Rutinas</ion-label>
    </ion-item>
    <ion-item routerLink="/nutricion">
      <ion-avatar slot="start">
        <ion-img src="https://cdn-icons-png.flaticon.com/512/3081/3081928.png"></ion-img>
      </ion-avatar>
      <ion-label>Nutrición</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
